<div class="submit-form">
    <h1>Record Farm location</h1>
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">longitude</label>
          <input
            type="text"
            class="form-control"
            id="longitude"
            required
            [(ngModel)]="subscriber.longitude"
            name="longitude"
          />
        </div>
    
        
        
        <div class="form-group">
          <label for="latitude">latitude</label>
          <input
            class="form-control"
            id="latitude"
            required
            [(ngModel)]="subscriber.latitude"
            name="latitude"
          />
        </div>
  
  
        
        
    
        <button (click)="saveSubLoc()" class="btn btn-success">Submit</button>
      </div>
    
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newSubscriber()">Add New Farmer</button> 
        &nbsp;&nbsp;
        <button class="btn btn-primary" routerLink = "/sublist">Back to lists</button>
      </div>
      
    </div>
    