<mat-nav-list color="green" class="nav-list" style="height: 100%;">
   <br>
   <br>
   <a mat-list-item routerLinkActive="list-item-active " class="links"  href="/dashboard" *ngIf="showAdminBoard " routerLink="/dashboard"> &nbsp; &nbsp;<fa-icon [icon]="faTachometerAlt"></fa-icon> &nbsp; &nbsp;Admin Dashboard</a>
   <a mat-list-item routerLinkActive="list-item-active " class="links"  href="/dashboard" *ngIf="!showAdminBoard && !showModeratorBoard && !showSeederBoard" routerLink="/dashboard"> &nbsp; &nbsp;<fa-icon [icon]="faTachometerAlt"></fa-icon> &nbsp; &nbsp;Dashboard</a>

   <a mat-list-item routerLinkActive="list-item-active " class="links"  *ngIf="showModeratorBoard" routerLink="/dashboard">&nbsp; &nbsp;<fa-icon [icon]="faTachometerAlt" ></fa-icon> &nbsp; &nbsp; Dashboard</a>

    <a mat-list-item routerLinkActive="list-item-active current" class="links"  routerLink="/weather" *ngIf="!showAdminBoard ">&nbsp; &nbsp;<fa-icon [icon]="faCloudRain" ></fa-icon> &nbsp;&nbsp; Weather Map</a> 
    <a mat-list-item routerLinkActive="list-item-active" class="links"   routerLink="/wheat"  *ngIf="!showAdminBoard && !showModeratorBoard && !showSeederBoard" > &nbsp; &nbsp;<fa-icon [icon]="faSeedling"   ></fa-icon> &nbsp; &nbsp;Yieald prediction</a>

    <a mat-list-item routerLinkActive="list-item-active" class="links"   routerLink="/list" *ngIf="showAdminBoard"> &nbsp; &nbsp;  <fa-icon [icon]="faUserEdit"></fa-icon> &nbsp;&nbsp; Accounts</a>
    <a mat-list-item routerLinkActive="list-item-active" class="links"   routerLink="/register" *ngIf="showAdminBoard"> &nbsp; &nbsp;<fa-icon [icon]="faUserPlus"></fa-icon> &nbsp;&nbsp; Create accounts</a>


    <a mat-list-item routerLinkActive="list-item-active" class="links"   routerLink="/sublist" *ngIf="showModeratorBoard">&nbsp; &nbsp;  <fa-icon [icon]="faUserEdit"></fa-icon> &nbsp;&nbsp; Farmers</a>
    <a mat-list-item routerLinkActive="list-item-active" class="links"   routerLink="/harvestlist" *ngIf="showModeratorBoard">&nbsp; &nbsp;  <fa-icon [icon]="faCartArrowDown"></fa-icon> &nbsp;&nbsp; Harvest Record</a>
    <a mat-list-item routerLinkActive="list-item-active" class="links"   routerLink="/plantlist" *ngIf="showModeratorBoard">&nbsp; &nbsp;  <fa-icon [icon]="faLeaf"></fa-icon> &nbsp;&nbsp;  Plant Record</a>
    <a mat-list-item routerLinkActive="list-item-active" class="links"   routerLink="/recommendation" *ngIf="showModeratorBoard">&nbsp; &nbsp;  <fa-icon [icon]="faLayerGroup"></fa-icon> &nbsp;&nbsp; Recommendation</a>
   
    <a mat-list-item routerLinkActive="list-item-active " class="links"  *ngIf="showSeederBoard" routerLink="/dashboard"> &nbsp; &nbsp;  <fa-icon [icon]="faTachometerAlt"></fa-icon> &nbsp; &nbsp; Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" class="links"   routerLink="/plantlist" *ngIf="showSeederBoard"> &nbsp; &nbsp;  <fa-icon [icon]="faLeaf"></fa-icon> &nbsp;&nbsp;  Plant Record</a>

   
</mat-nav-list>

