h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .total {
    font-size: 4em;
  }
  
  .mat-icon,
  .description {
    color: green;
    font-size: 2em;
  }
  
  .mat-icon {
    position: relative;
    padding: 5px 20px;
    top: 5px;
  }
.dash-card
{
  color: #6B7280;
}