<div>    
    <br>
    <mat-card>
        <mat-card-header>
            <section class="mat-typography">
                <h3>Update Plantating Record</h3>
            </section>
        </mat-card-header>     
        <mat-divider></mat-divider>     
        <br>
        <form [formGroup]="updateForm" class="edit-form">

            <div class="row" style="padding-left: 5%;">
                <mat-form-field class="field-full-width"> 
                    <input matInput placeholder ="Farmer" formControlName="farmer" #farmer>
                </mat-form-field> 
                <mat-form-field class="field-full-width" style="margin-left:5%;"> 
                    <input matInput placeholder ="Crop" formControlName="crop" #crop>
                </mat-form-field> 
                <mat-form-field class="field-full-width" style="margin-left:5%;"> 
                    <input matInput placeholder ="Operation" formControlName="operation" #operation>
                </mat-form-field> 
                
                <mat-form-field class="field-full-width" style="margin-left:5%;"> 
                    <input matInput placeholder ="Quantity" formControlName="quantity" #quantity>
                </mat-form-field> 
                
                <mat-form-field class="field-full-width" style="padding-left: 5%;"> 
                    <input matInput placeholder ="Quality" formControlName="quality" #quality>
                </mat-form-field>
            </div>
            

            <div class="row" style="padding-left: 5%;">
                <mat-form-field class="field-full-width"> 
                    <input matInput placeholder ="Type" formControlName="type" #type>
                </mat-form-field>
                <mat-form-field class="field-full-width" style="padding-left: 5%;"> 
                    <input matInput placeholder ="Variety" formControlName="variety" #variety>
                </mat-form-field>
                <mat-form-field class="field-full-width"style="padding-left: 5%;"> 
                    <input matInput placeholder ="Rainfall" formControlName="rainfall" #rainfall>
                </mat-form-field>
                <mat-form-field class="field-full-width" style="padding-left: 5%;"> 
                    <input matInput placeholder ="Date of Release" formControlName="yearOfrelease" #yearOfrelease>
                </mat-form-field>
                <mat-form-field class="field-full-width"style="padding-left: 5%;"> 
                    <input matInput placeholder ="Seed Rate" formControlName="seedRate" #seedRate>
                </mat-form-field>
            </div>
            
          
            <mat-form-field class="field-full-width" style="padding-left: 4%;"> 
                <textarea matInput placeholder ="Additional Info." formControlName="additionalInfo" #additionalInfo></textarea>
            </mat-form-field>
            

            
            <!-- <mat-form-field class="field-full-width"> 
                <input matInput placeholder ="password" formControlName="password" #password>
            </mat-form-field>  -->
            <!-- <mat-form-field class="field-full-width-selector" > 
                    <mat-select placeholder="Role" formControlName="roles" class="mat-selector" #roles> -->
                    
                    <!-- <mat-option value ="admin">Administrator</mat-option>
                    <mat-option value ="moderator">Plant-Expert</mat-option>
                    <mat-option value ="user">Extention-Worker</mat-option>
                </mat-select>
                </mat-form-field> -->
                &nbsp;&nbsp; 
                <!-- <mat-form-field class="field-full-width-selector" > 
                    <mat-select placeholder="Status" formControlName="status" class="mat-selector" #status>
                        <mat-option value ="Open">Open</mat-option>
                        <mat-option value ="Progress">Progress</mat-option>
                        <mat-option value ="Done">Done</mat-option>
                    </mat-select>
                    </mat-form-field> 
                    -->
                <mat-divider></mat-divider>
                <br><br>
                <div class="row" style="margin-left: 4%;">
                    <button mat-raised-button color="accent" routerLink="/plantlist">Back</button>&nbsp;&nbsp;&nbsp;
                    <button  color="primary" type="submit" (click)="updatePlant(farmer.value,crop.value,operation.value,quantity.value,quality.value,type.value,variety.value,rainfall.value,yearOfrelease.value,seedRate.value,additionalInfo.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button >Save</button>
                    
                </div>
            
        </form>
    </mat-card>

</div>
