
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  mat-drawer {
    width: 15%;
  }
  
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer-content {
    background-color: rgb(238, 248, 238);
    padding: 20px;
  }