.tp-margin {
    // margin: 0 10px;
     height: 10px;
  }
 
  .nav-pills{
     margin: 0 10px;
  }
 
  #btn {
     margin: 0 10px;
     //width: 100%;
  }
 
  .btn-primary{
     margin: 0 10px;
 }
  
 #picture{
     margin-left: 20%;
    // background: rgb(187, 50, 50);
     margin: 0 10px;
 }
 
 #picture2{
      margin-left: 20%;
      //background: rgb(96, 177, 106);
       margin: 0 10px;
  }
  p{
      color: white;
  }