.create-from{
    min-width: 150px;
    width: 100%;
}

.field-full-width{
    width: 100%;
}

.field-full-width-selector{
    width: 40%;
}


.mat-selector{
 
    width: 100%;

}

