<div>
    <br>
    <mat-card>
    <section class="mat-typography">
       <h3>Update User</h3>
    </section>
    <mat-divider></mat-divider>
    </mat-card>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
        <mat-form-field class="field-full-width"> 
            <input matInput placeholder ="username" formControlName="username" style="font-size: 12;" #username>
        </mat-form-field> 
        <mat-form-field class="field-full-width"> 
            <input matInput placeholder ="example@gmail.com" formControlName="email"style="font-size: 12;" #email>
        </mat-form-field> 
        <!-- <mat-form-field class="field-full-width"> 
            <input matInput placeholder ="password" formControlName="password" #password>
        </mat-form-field>  -->
        <!-- <mat-form-field class="field-full-width-selector" > 
                <mat-select placeholder="Role" formControlName="roles" class="mat-selector" #roles> -->
                 
                <!-- <mat-option value ="admin">Administrator</mat-option>
                <mat-option value ="moderator">Plant-Expert</mat-option>
                <mat-option value ="user">Extention-Worker</mat-option>
            </mat-select>
             </mat-form-field> &nbsp;&nbsp; -->
             <!-- <mat-form-field class="field-full-width-selector" > 
                <mat-select placeholder="Status" formControlName="status" class="mat-selector" #status>
                    <mat-option value ="Open">Open</mat-option>
                    <mat-option value ="Progress">Progress</mat-option>
                    <mat-option value ="Done">Done</mat-option>
                </mat-select>
                 </mat-form-field> 
                -->
             <mat-divider></mat-divider>
             <br><br>
             <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
             <!-- <button type="submit" (click)="updateIssue(title.value,responsible.value,description.value,severity.value,status.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary" >Save</button> -->
             <button type="submit" (click)="updateIssue(username.value,email.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary" >Save</button>
   
        </form>
    </div>
    
