<div class="submit-form">
  <h1>Record Farmer Information</h1>
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="subscriber.name"
          name="name"
        />
      </div>
  
      
      
      <div class="form-group">
        <label for="city">City</label>
        <input
          class="form-control"
          id="city"
          required
          [(ngModel)]="subscriber.city"
          name="city"
        />
      </div>


      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          class="form-control"
          id="phone"
          required
          [(ngModel)]="subscriber.phone"
          name="phone"
        />
      </div>

      
  
      <button (click)="saveSubscriber()" class="btn btn-success">Submit</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newSubscriber()">Add New Farmer</button> 
      &nbsp;&nbsp;
      <button class="btn btn-primary" routerLink = "/sublist">Back to lists</button>
    </div>
    
  </div>
  